In [2]:
import pandas as pd

Reading csv file using read_csv funtion

In [7]:
df1=pd.read_csv("exam.csv")
df1.head(5)

   a   b     c     d message
0  1   2     3   4.0  hellow
1  5   7     6   8.0    word
2  9  10    11  12.0     foo
3  7   8  hell   NaN     NaN

Rading  data from scv file using read_table function

In [6]:
df=pd.read_table("exam.csv",sep=',')
df

   a   b     c     d message
0  1   2     3   4.0  hellow
1  5   7     6   8.0    word
2  9  10    11  12.0     foo
3  7   8  hell   NaN     NaN

In [12]:
df=pd.read_csv("exam.csv",names=['aa','bb','cc','dd','fe','f'],index_col=["cc","fe"])
df

             aa  bb   dd   f
cc   fe
c    message  a   b    d NaN
3    hellow   1   2    4 NaN
6    word     5   7    8 NaN
11   foo      9  10   12 NaN
hell NaN      7   8  NaN NaN

Loading data from text file

In [30]:
list(open("exam.txt"))

[' A B C,\n',
 'aaa -0.264438 -1.026059 -0.619500,\n',
 'bbb 0.927272 0.302904 -0.032399,\n',
 '\n',
 '170 | Chapter 6: Data Loading, Storage, and File Formats\n',
 '\n',
 'ccc -0.264273 -0.386314 -0.217601,\n',
 'ddd -0.871858 -0.348382 1.100491']

skiprows function  is used for skiping rows

In [44]:
df=pd.read_table("exam.txt",skipinitialspace = True,skiprows=[0,3,1])
df

                    bbb 0.927272 0.302904 -0.032399,
0  170 | Chapter 6: Data Loading, Storage, and Fi...
1                 ccc -0.264273 -0.386314 -0.217601,
2                   ddd -0.871858 -0.348382 1.100491

pd.option.display function is used for show number of row

In [59]:
pd.options.display.max_rows=2
df=pd.read_table("exam.csv",sep=',',na_values=["NAN"])
df

    a  b     c    d message
0   1  2     3  4.0  hellow
.. .. ..   ...  ...     ...
3   7  8  hell  NaN     NaN

[4 rows x 5 columns]

Check null value using Isnull() function

In [49]:
df.isnull()

       a      b      c      d  message
0  False  False  False  False    False
1  False  False  False  False    False
2  False  False  False  False    False
3  False  False  False   True     True

 nrows function is used for printing number of rows print you want

In [55]:
df=pd.read_table("exam.csv",nrows=1,sep=',')
df

   a  b  c  d message
0  1  2  3  4  hellow

In [58]:
df=pd.read_table("exam.csv",sep=',')
df

   a   b     c     d message
0  1   2     3   4.0  hellow
1  5   7     6   8.0    word
2  9  10    11  12.0     foo
3  7   8  hell   NaN     NaN

# writing data in the csv file

In [60]:
df.to_csv("writing.csv")

In [62]:
df.to_csv("writing1.csv",sep='|')

In [63]:
df.to_csv("writing2.csv",sep='|',na_rep='Null')

In [65]:
df.to_csv("writing3.csv",sep='|',index=False,header=False,na_rep="null")

In [66]:
df.to_csv("writing4.csv",sep='|',index=False,columns=["a","b","c"],na_rep="null")

#### Printing date using pandas  and numpy

In [125]:
import numpy as np
pd.options.display.max_rows=20
dates=pd.date_range("1/2/2021",periods=20)
df=pd.Series(np.arange(20),index=dates ,)
df.to_csv("writingdate.csv")
df

2021-01-02     0
2021-01-03     1
2021-01-04     2
2021-01-05     3
2021-01-06     4
2021-01-07     5
2021-01-08     6
2021-01-09     7
2021-01-10     8
2021-01-11     9
2021-01-12    10
2021-01-13    11
2021-01-14    12
2021-01-15    13
2021-01-16    14
2021-01-17    15
2021-01-18    16
2021-01-19    17
2021-01-20    18
2021-01-21    19
Freq: D, dtype: int32

In [71]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [86]:
import json
js=json.loads(obj)
js

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [108]:
asjson=json.dumps(js)

In [110]:
siblings = pd.DataFrame(js["places_lived"])
siblings

               0
0  United States
1          Spain
2        Germany

# Read json file

In [103]:
df=pd.read_json("js.json")
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Data frame convert to json

In [106]:
print(df.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

# Reading  data from website

In [114]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

##  Data convert to  json

In [115]:
data=resp.json()

In [122]:
data[0]["title"]

'Backport PR #52473: BUG: to_timedelta/datetime with numeric ArrowExtnsionArray'

### json data convert to data frame

In [124]:
pd.options.display.max_rows=30
df=pd.DataFrame(data,columns=["number","title","label","state"])
df

    number                                              title  label state
0    52507  Backport PR #52473: BUG: to_timedelta/datetime...    NaN  open
1    52506                                 PERF: dtype checks    NaN  open
2    52505  BUG: incorrect reading of CSV  containing larg...    NaN  open
3    52504               Overhauled extension debugging guide    NaN  open
4    52503  ENH: Add more dt property/method support for A...    NaN  open
5    52501  BUG: The count() API does not consider inf as ...    NaN  open
6    52500  BUG: Results of series `bitwise` ufunc operati...    NaN  open
7    52499          ENH: Implement str.r/split for ArrowDtype    NaN  open
8    52498  ISSUE #44933 : Components function for DateTim...    NaN  open
9    52493  BUG: `pd.read_csv(io.StringIO("a\nNone")).a[0]...    NaN  open
10   52490  ENH: Add conda subpackages corresponding to pi...    NaN  open
11   52489    Add interval_edges() method to fix issue #50944    NaN  open
12   52488        DOC: Pandas.to_sql has the following issues    NaN  open
13   52487          BUG fixing module first() and DateOffset     NaN  open
14   52484  BUG: `resample` on empty DataFrame leads to `V...    NaN  open
15   52483  BUG: Writer.sheets= ExcelWorkbook cant set att...    NaN  open
16   52478     Add `np.intc` to `_factorizers` in `pd.merge`     NaN  open
17   52477  DEPR: DataFrameGroupBy.apply operating on the ...    NaN  open
18   52476       BUG/API Series(ints, dtype=m8[s]) use unit=s    NaN  open
19   52474  BUG: isin is much stricter with arrow dtypes t...    NaN  open
20   52468                           REF: BinGrouper indices     NaN  open
21   52467                   DEPR: NDFrame.drop index/columns    NaN  open
22   52465  BUILD: Unable to install `Pandas` using poetry...    NaN  open
23   52464  BUG: pyarrow mean can overflows on timestamp[n...    NaN  open
24   52463  BUG: Series([ints], dtype=td[non-nano]) not re...    NaN  open
25   52461                              ENH: NDFrame.axis_ops    NaN  open
26   52459           DEPR: to_pydatetime return Index[object]    NaN  open
27   52458  BUG: tm.assert_series_equalcheck_dtype=False) ...    NaN  open
28   52457  BUG: Series([int],  dtype="timedelta64[non-nan...    NaN  open
29   52456  BUG: `infer_freq` throws exception on `Series`...    NaN  open